server {
    listen 80;
    listen [::]:80;
    server_name _;

    root {{ lighthouse_dir }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    # Дополнительная настройка для безопасности
    location ~ /\.ht {
        deny all;
    }

    # Настройка кэширования статики
    location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
        expires 1y;
        add_header Cache-Control "public, immutable";
    }
}