server {
    listen 80;
    listen [::]:80;
    server_name _;

    root {{ lighthouse_dir }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ /\.ht {
        deny all;
    }

    error_page 404 /404.html;
    location = /404.html {
        internal;
    }
}